build/*
/build/
/target/
.classpath
.project
./settings/

.classpath

*.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.jdt.core.prefs
bin/*
/bin/
